<link id="favicon-32" rel="icon" type="image/png" href="{{ "images/favicons/favicon-light-32.png?v=2" | relURL }}" sizes="32x32">
<link id="favicon-16" rel="icon" type="image/png" href="{{ "images/favicons/favicon-light-16.png?v=2" | relURL }}" sizes="16x16">

<link rel="apple-touch-icon" href="{{ "images/favicons/favicon-light-source.png" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicons/favicon-light-source.png" | relURL }}">

<link rel="manifest" href="{{ .Site.Params.manifest | default "/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ .Site.Params.mask_icon | default "/images/safari-pinned-tab.svg" | relURL }}" color="{{ .Site.Params.mask_icon_color | default "#5bbad5" }}">
