{{ $image := "" }}
<li class="post-list-item">
  {{ with .Params.featuredImage }}
    {{ $image = $.Resources.GetMatch . }}
  {{ end }}
  {{ if not $image }}
    {{ with .Resources.ByType "image" }}
      {{ $image = index . 0 }}
    {{ end }}
  {{ end }}

  {{ if $image }}
    {{ $thumb := $image.Resize "88x" }}
    <a class="post-list-thumb" href="{{ .Params.externalLink | default .RelPermalink }}">
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="{{ .Title }}"
        width="{{ $thumb.Width }}"
        height="{{ $thumb.Height }}"
      >
    </a>
  {{ end }}

  <div class="post-list-copy{{ if $image }} has-thumb{{ else }} no-thumb{{ end }}">
    <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
  </div>
</li>
